:root{
    --dg-dark: #12100e;
    --dg-light: #1a1815;
    --text-main: #eaeaea;
    --text-muted: #99958e;
    --accent-gold: #c29b57;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-body);
    background-color: var(--bg-dark);
    color: var(--text-main);
    line-height: 1.6;
}
a{text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
section-subtitle{
    display: block;
    font-family: var(--font-heading);
    font-size: 0.75rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--accent-gold);
    margin-bottom: 10px;
    text-align: center; 
}
section-tittle{
    font-family: var(--font-heading);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}
separator{
    width: 60px;
    height: 1px;
    background-color: var(--accent-gold);
    margin: 0 auto 30px auto;
}
btn {
    display: inline-block;
    padding: 10px 24px;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition:all 0.3s ease;
    cursor:pointer;
}
btn-outline{
    border: 1px solid var(--accent-gold);
    color: var(--accent-gold);
    background: transparent;
}
btn-outline:hover{
    background: var(--accent-gold);
    color: var(--bg-dark);
}
navbar{
    position:absolute;
    top:0;
    width: 100%;
    padding: 25px 0;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
nav-container{
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
logo{
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}
nav-links a{
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--text-muted);
    transition: color 0.3s ease;
}
nav-links a:hover{
    color: var(--accent-gold);
}




